@model LoginDto
@{
    ViewData["Title"] = "Ligin";
}

<h1>Login</h1>

<form asp-action="Login" asp-controller="Accounts" 
        asp-route-depid="120"
        asp-area="Admins" method="post">
    <div class="mb-2">
        <label for="username">User Name</label>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="mb-2">
        <label for="password">Password</label>
        <input asp-for="Password"  />
    </div>
    <div class="mb-2">
        <label asp-for="RememberMe">Password</label>
        <input asp-for="RememberMe"/>
    </div>
    <button class="btn btn-sm btn-primary">Login</button>
</form>